/.bundle
/db/*.sqlite3
/db/*.sql
/db/schema.rb
/config/database.yml
/log/*.log
/tmp
.DS_Store
.sass-cache
.rvmrc
*.sublime-workspace
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
