development:
  adapter: postgresql
  min_messages: WARNING
  encoding: utf8
  reconnect: false
  database: vocabulizer_development
  pool: 5
  username: postgres
  password:
  host: localhost

test:
  adapter: postgresql
  min_messages: WARNING
  encoding: utf8
  reconnect: false
  database: vocabulizer_test
  pool: 5
  username: postgres
  password:
  host: localhost
